# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.env
.env.*

# Virtual environments
venv*/
ENV/
.venv/

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Streamlit cache
.streamlit/

# 邮件数据
Eml/
eml_process/uploads/
eml_process/output/
eml_process/processed/
eml_process/final_output/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Others
activity.log
gptbots_api.log
