# 忽略邮件数据和处理结果
Eml/
eml_process/uploads/
eml_process/output/
eml_process/processed/
eml_process/final_output/

# 虚拟环境
venv_new/
venv/
.env
*.env

# Python缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 日志和临时文件
*.log
*.tmp
activity.log

# Jupyter/Colab
*.ipynb_checkpoints/

# 系统文件
.DS_Store
Thumbs.db

# 不上传eml2json内容
eml2json/
